* {
	padding: 0;
	margin: 0;
	text-align: center;

}

.izqu {
	float: right;
	margin-left: 5%;
	margin-right: 5%;

}

.centrar {
	text-align: center;
	align-items: center;
	justify-content: center;
}

.centrar1 {
	position: relative;
	left: 80px;
}

.centrar2 {
	position: relative;
	left: 55px;
}

.centrar3 {
	position: relative;
	left: 180px;
}

.gris {
	color: #C0CCDA;
}

.circulo {
	background-color: #FFFFFF;
	border-radius: 100%;
	width: 127px;
	height: 126px;
}
.circulo22 {
	top: 36%;
    left: 5%;
    background-color: red;
    border-radius: 100%;
    width: 65px;
    height: 38px;
    position: absolute;
    text-align: center;
    
}

.cuadro {
	background-color: #C0CCDA;
	border-radius: 34.5px;
	width: 233px;
	height: 106px;
}

.cuadro2 {
	background-color: #0872ec;
	border-radius: 34.5px;
	width: 511px;
	height: 150px;border-style: solid;
}

.cuadro3 {
	background-color: #FFFFFF;
	width: 150px;
	height: 350px;
	border-radius: 10px;
}

.cuadro4 {
	background-color: #FFFFFF;
	width: 300px;
	height: 80px;
	border-radius: 10px;
}

.cuadro5 {
	background-color: #FFFFFF;
	width: 100px;
	height: 80px;
	border-radius: 10px;
	margin-left: 23%;
}

.cuadro6 {
	background-color: #00d5ff;
	width: 180px;
	height: 36px;
	border-radius: 10px;
}

.cuadro7 {
	background-color: #FFFFFF;
	width: 300px;
	height: 37px;
	border-radius: 10px;
}

.cuadro8 {
	background-color: #FFFFFF;
	width: 350px;
	height: 45px;
	border-radius: 10px;
}

.cuadro9 {
	background-color: #00A6FF;
	width: 350px;
	height: 55px;
	border-radius: 10px;
}

.cuadro10 {
	background-color: #FFFFFF;
	width: 150px;
	height: 380px;
	border-radius: 10px;
	background-color: rgb(242, 243, 239);
}

.hola {
	width: 507pt;
	height: 100pt;

	top: 0pt;
	left: 43pt;
}

.cuadro_1 {

	/*float:right;
	Width:300pt;
	Height:40pt;
	border-radius:50pt;
	 background-color: #FFFFFF;*/
	margin-top: 20px;
	margin-right: 30%;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 50px;
	margin-left: 5%;
}

h1 {
	text-align: center;
	padding: 12px;
	color: rgb(206, 203, 203)
}

.imageee {
	text-align: left;
}

#inferior {
	
    position: absolute;
    left: 0%;
    top: 936px;
    right: 34.76%;
    margin-left: 30.1%;
	
}

.cuadrogeneral{
	overflow-x: hidden;
	overflow-y: scroll;
	border-radius: 10px;
	position: relative;
	background-image: url(/IMG/fondo_de_perrro.webp);
	background-size: cover;
	color: rgb(0, 0, 0);
	border-style: solid;
	border-bottom-left-radius: 5px;
	width: 540px;
	height: 960px;
	text-align: center;

	padding: 150px 10px;
	background-color: #ba5705a6;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 28px;
	padding-top: 28px;
	margin-bottom: 50px;

}

.raster {
	text-align: left;
}

.negro {
	color: black;
	text-align: center;
	
}


input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

.ok {

	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}

.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}

.blanco {
	color: white;
	text-align: center;
}

body {
	background-color: #ffff00;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%vh;
	background-size: cover;
	color: #2c86e6;
	overflow-x: hidden;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	width: 7px;
	
}

body::-webkit-scrollbar-thumb {
	background: #414141;
	border-radius: 10px;
}



.cuadrogeneral::-webkit-scrollbar {
	width: 7px;
}

.cuadrogeneral::-webkit-scrollbar-thumb {
	background: #f7720c;
	border-radius: 10px;
}

.mensaje {
	width: 100%;
	max-width: 350px;
	margin: auto;
	margin-top: 20px;
	text-align: left;
	padding: 6px;
	color: red;
}

h6 {
	text-align: center;
	padding: 12px;
	color: rgb(7, 5, 5);
	line-height: 20px;
}

.gabo {
	padding: 50px 20px;
	background-color: #381b1ba6;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px;
	line-height: 20px;
}

header {
	width: 100%;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-between;
	background-color: rgba(0, 0, 0, .3);
}

header a {
	margin-right: 30px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	transition: all ease 300ms;
}

.login-box {
	background-image: url(/IMG/fondo_de_perrro.webp);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}


.content_uploader {
	position: relative;
	border: 3px solid #1b1b1b;
	padding: 10px;
	height: 400px;
	width: 25%;
	min-width: 280px;
	overflow: hidden;
	margin: 0 auto;
}

.box {
	background: #E6E6E6;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	color: #000;
	padding: 20px;
	height: 90%;
	position: relative;
}

.remove_img {
	cursor: pointer;
	background: white;
	padding: 8px 10px;
	color: red;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid red;
	transition: all 600ms;
	-webkit-transition: all 600ms;
}

.filefield {
	display: none;
}

p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 0;
	text-align: center;
	cursor: pointer;
	background-color: #1b1b1b;
	padding: 10px;
	color: #fff
}

.overlay_uploader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
	display: none;
}

.spinner {
	width: 30px;
	height: 30px;
	position: relative;
	margin-top: 15px;
	border: 3px solid #00ACB4;
	border-radius: 50%;
	display: none;
	margin: 0 auto;
	z-index: 999;
}

.spinner:before,
.spinner:after {
	content: "";
	position: absolute;
	display: block;
	width: 3px;
	background-color: #00ACB4;
	border-radius: 1.5px;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.spinner:before {
	height: 9px;
	left: 13.5px;
	top: 50%;
	-webkit-animation: spin 2000ms linear infinite;
	animation: spin 2000ms linear infinite;
}

.spinner:after {
	height: 12px;
	left: 13.5px;
	top: 50%;
	-webkit-animation: spin 500ms linear infinite;
	animation: spin 500ms linear infinite;
}

.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}

.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}